* {
  margin: 0;
  padding: 0;
}

.background-image {
  background-image: url(/Users/karinalage/star-wars-vehicles/src/images/background-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 25vh;
}

.App-logo {
  height: 20vmin;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
